#beachHead, #beachFooter {
    background-image: url("./Images/Beach.jpeg");
    height: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 505px;
    padding-left: 20px;
    padding-right: 20px;
}

#lakeChabot {
    background-image: url("./Images/lake_chabot.jpg");
    height: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 220px;
}

#slMarina {
    background-image: url("./Images/marina.jpg");
    height: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 220px;
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text,.border {
    background-color: transparent;
    background-blend-mode: soft-light;
    color: #eddcd2;
}

body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.filter {
    padding: 90px;
    background-color: #fcd5ce;
    color: black;
}

* {
    margin: 0px;
}